<section
	id="about"
	class="mb-16 flex flex-col items-center justify-center px-4 py-12 lg:h-screen lg:flex-row lg:gap-16"
>
	<!-- Descripción breve -->
	<div class="mb-10 w-full lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-3xl font-bold text-lightgreen lg:text-4xl">About Me</h2>
		<span class="mb-6 block h-1 w-16 bg-lightgreen"></span>

		<p class="text-justify text-lg leading-relaxed text-black dark:text-white">
			I started my development journey as a backend developer, focusing on Java and system
			architecture. Over time, my interest shifted to frontend development, and I became a fullstack
			developer, building complete applications from databases to user interfaces. I enjoy working
			in teams, learning continuously, and contributing to projects that bring real value.
			Currently, I am focused on expanding my knowledge of modern technologies and growing
			professionally.
		</p>
	</div>

	<!-- Timeline -->
	<div class="w-full lg:w-1/2">
		<ul class="space-y-6 border-l-2 border-lightgreen pl-6">
			<!-- Studies Section -->
			<li>
				<div class="font-monospace text-3xl font-bold text-lightgreen lg:text-4xl">Studies</div>
				<div class="ml-6 mt-4 space-y-3">
					<!-- First study -->
					<div class="flex flex-col items-start space-y-2">
						<span class="font-monospace text-sm text-lightgreen">2016 - 2018</span>
						<div class="flex items-center space-x-3">
							<div class="h-2.5 w-2.5 rounded-full bg-lightgreen"></div>
							<div>
								<h3 class="text-black dark:text-white">Technological Baccalaureate</h3>
							</div>
						</div>
					</div>

					<!-- Second study -->
					<div class="flex flex-col items-start space-y-2">
						<span class="font-monospace text-sm text-lightgreen">2018 - 2020</span>
						<div class="flex items-center space-x-3">
							<div class="h-2.5 w-2.5 rounded-full bg-lightgreen"></div>
							<div>
								<h3 class="text-black dark:text-white">
									Multiplatform Application Development (DAM)
								</h3>
							</div>
						</div>
					</div>
				</div>
			</li>

			<!-- Experience Section -->
			<li>
				<div class="font-monospace text-3xl font-bold text-lightgreen lg:text-4xl">Experience</div>
				<div class="ml-6 mt-4 space-y-3">
					<!-- First experience -->
					<div class="flex flex-col items-start space-y-2">
						<span class="font-monospace text-sm text-lightgreen"
							>2020 - Internship Backend Developer - 4 months</span
						>
						<div class="flex items-center space-x-3">
							<div class="h-2.5 w-2.5 rounded-full bg-lightgreen"></div>
							<div>
								<p class="mt-4 text-black dark:text-white">Developed a web app for digital...</p>
								<button id="btn-1" class="font-monospace text-sm text-lightgreen hover:underline">
									Read more
								</button>
							</div>
						</div>
					</div>

					<!-- Second experience -->
					<div class="flex flex-col items-start space-y-2">
						<span class="font-monospace text-sm text-lightgreen"
							>2024 - Software Developer - 8 months</span
						>
						<div class="flex items-center space-x-3">
							<div class="h-2.5 w-2.5 rounded-full bg-lightgreen"></div>
							<div>
								<p class="mt-4 text-black dark:text-white">
									Developed a complete eCommerce solution using...
								</p>
								<button id="btn-2" class="font-monospace text-sm text-lightgreen hover:underline">
									Read more
								</button>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<!-- Modal for First Experience -->
	<div
		id="modal-1"
		class="modal pointer-events-none fixed inset-0 z-50 flex hidden scale-95 transform items-center justify-center bg-black bg-opacity-50 opacity-0 transition-all duration-500 ease-out"
	>
		<div class="w-full max-w-4xl rounded-lg bg-white p-8 shadow-lg dark:bg-darkgray">
			<h3 class="text-2xl font-bold text-lightgreen dark:text-lightgreen">
				Internship Backend Developer
			</h3>
			<p class="mt-4 text-black dark:text-white">
				<ul class="list-disc space-y-2 pl-6 text-black dark:text-white">
					<li class="marker:text-lightgreen dark:marker:text-lightgreen">
						Developed a web app for digital signatures using JavaScript, Canvas API, PHP, HTML, and
						CSS.
					</li>
					<li class="marker:text-lightgreen dark:marker:text-lightgreen">
						Securely captured and stored signatures with a responsive user interface.
					</li>
				</ul>
			</p>
			<a
				id="readLessBtn1"
				href="#"
				class="mt-4 font-monospace text-sm text-lightgreen hover:underline dark:text-lightgreen"
			>
				Read less
			</a>
		</div>
	</div>

	<!-- Modal for Second Experience -->
	<div
		id="modal-2"
		class="modal pointer-events-none fixed inset-0 z-50 flex hidden scale-95 transform items-center justify-center bg-black bg-opacity-50 opacity-0 transition-all duration-500 ease-out"
	>
		<div class="w-full max-w-4xl rounded-lg bg-white p-8 shadow-lg dark:bg-darkgray">
			<h3 class="text-2xl font-bold text-lightgreen dark:text-lightgreen">Software Developer</h3>
			<p class="mt-4 text-black dark:text-white">
				<ul class="list-disc space-y-2 pl-6 text-black dark:text-white">
					<li class="marker:text-lightgreen dark:marker:text-lightgreen">
						<strong>💻 Software Developer – Highlighted Projects</strong>
					</li>

					<li class="marker:text-lightgreen dark:marker:text-lightgreen">
						<strong class="text-lightgreen"> Generic eCommerce Template</strong>
					</li>
					<ul class="list-disc pl-6">
						<li class="marker:text-lightgreen dark:marker:text-lightgreen">
							Developed a complete eCommerce solution using Spring Boot and Thymeleaf, with a
							modular, scalable, and secure architecture.
						</li>
						<li class="marker:text-lightgreen dark:marker:text-lightgreen">
							Implemented security layers, data persistence, and deployment via Docker.
						</li>
						<li class="marker:text-lightgreen dark:marker:text-lightgreen">
							Optimized for cloud environments with AWS, enhancing performance and scalability.
						</li>
					</ul>

					<li class="marker:text-lightgreen dark:marker:text-lightgreen">
						<strong class="text-lightgreen"> Room Reservation Management System</strong>
					</li>
					<ul class="list-disc pl-6">
						<li class="marker:text-lightgreen dark:marker:text-lightgreen">
							Brought a full-stack web application focused on security, user experience, and modern
							deployment practices.
						</li>
						<li class="marker:text-lightgreen dark:marker:text-lightgreen">
							Backend: Django + DRF, exposing a secure RESTful API protected by JWT authentication
							managed through Keycloak as an identity provider (SSO replacement).
						</li>
						<li class="marker:text-lightgreen dark:marker:text-lightgreen">
							Frontend: Developed with Next.js for a modern and responsive user interface.
						</li>
						<li class="marker:text-lightgreen dark:marker:text-lightgreen">
							Database: PostgreSQL.
						</li>
						<li class="marker:text-lightgreen dark:marker:text-lightgreen">
							Integrated automatic confirmation email sending for reservations.
						</li>
						<li class="marker:text-lightgreen dark:marker:text-lightgreen">
							Designed a centralized logging system and robust error handling.
						</li>
						<li class="marker:text-lightgreen dark:marker:text-lightgreen">
							Fully dockerized solution, ensuring reproducibility and seamless deployment across all
							development stages.
						</li>
					</ul>
				</ul>
			</p>
			<a
				id="readLessBtn2"
				href="#"
				class="mt-4 font-monospace text-sm text-lightgreen hover:underline dark:text-lightgreen"
			>
				Read less
			</a>
		</div>
	</div>

	<script>
		// Mostrar el modal para la primera experiencia
		const btn1 = document.getElementById('btn-1');
		const modal1 = document.getElementById('modal-1');
		if (btn1 && modal1) {
			btn1.addEventListener('click', function () {
				modal1.classList.remove('hidden');
				modal1.classList.add('opacity-100', 'pointer-events-auto', 'scale-100');
			});
		}

		// Mostrar el modal para la segunda experiencia
		const btn2 = document.getElementById('btn-2');
		const modal2 = document.getElementById('modal-2');
		if (btn2 && modal2) {
			btn2.addEventListener('click', function () {
				modal2.classList.remove('hidden');
				modal2.classList.add('opacity-100', 'pointer-events-auto', 'scale-100');
			});
		}

		// Cerrar el modal para la primera experiencia
		const readLessBtn1 = document.getElementById('readLessBtn1');
		if (readLessBtn1 && modal1) {
			readLessBtn1.addEventListener('click', function (event) {
				event.preventDefault();
				modal1.classList.add('hidden');
				modal1.classList.remove('opacity-100', 'pointer-events-auto', 'scale-100');
			});
		}

		// Cerrar el modal para la segunda experiencia
		const readLessBtn2 = document.getElementById('readLessBtn2');
		if (readLessBtn2 && modal2) {
			readLessBtn2.addEventListener('click', function (event) {
				event.preventDefault();
				modal2.classList.add('hidden');
				modal2.classList.remove('opacity-100', 'pointer-events-auto', 'scale-100');
			});
		}
	</script>
</section>
