---
import ExperienceTimeline from './utils/ExperienceTimeline';
---

<section
	id="about"
	class="mb-16 flex flex-col items-center justify-center px-4 py-12 lg:h-screen lg:flex-row lg:gap-16"
>
	<section class="w-full lg:w-1/2">
		<ExperienceTimeline client:load/>
		<!-- <Experience /> -->
	</section>

	<span class="hidden h-[280px] w-[2px] bg-seagreen lg:block"></span>

	<!-- Descripción breve -->
	<div class="mb-10 w-full flex-grow lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-3xl font-bold text-seagreen lg:text-4xl">About Me</h2>
		<span class="mb-6 block h-1 w-16 bg-seagreen"></span>

		<p class="text-justify text-lg leading-relaxed text-black dark:text-white">
			I started my development journey as a backend developer, focusing on Java and system
			architecture. Over time, my interest shifted to frontend development, and I became a fullstack
			developer, building complete applications from databases to user interfaces. I enjoy working
			in teams, learning continuously, and contributing to projects that bring real value.
			Currently, I am focused on expanding my knowledge of modern technologies and growing
			professionally.
		</p>
	</div>
</section>
