---
import Button from '@components/ui/Button.astro';
import Social from '@components/ui/Social.astro';
import ContactForm from './ContactForm.astro';
---

<section
	data-testid="contact"
	id="contact"
	class="flex flex-col flex-wrap items-center justify-center gap-8 text-black dark:text-white lg:mb-0 lg:h-screen"
>
	<h2 class="font-monospace text-2xl text-lightgreen lg:text-4xl">Contact</h2>
	<p class="max-w-l text-center text-lg">
		I'm currently open to new opportunities and collaborations. Feel free to reach out!
	</p>
	<ContactForm />
	<Social />
</section>
