

<footer
	data-testid="footer"
	class="flex-row-2 flex p-6 text-center text-sm text-black dark:text-white"
>
	<p>
		Copyright © <span class="text-lightgreen">Victor Bethencourt Barrera</span>
		{new Date().getFullYear()}. All rights reserved.
	</p>
</footer>
