---
import Button from './Button.astro';
---

<ol class="relative border-s border-lightgreen">
	<!-- Studies Section -->
	<li class="mb-10 ms-4">
		<div
			class="absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full border border-lightgreen border-white"
		>
		</div>
		<time class="mb-1 text-sm font-normal leading-none text-lightgreen">2016 - 2018</time>
		<h3 class="text-lg font-semibold text-lightgreen">Technological Baccalaureate</h3>
		<span class="mb-2 block h-1 w-16 bg-lightgreen"></span>
		<p class="text-gray-500 dark:text-gray-400 mb-4 text-base font-normal">
			Completed studies in technological fields, focusing on programming and system design.
		</p>
	</li>

	<li class="ms-4">
		<div
			class="bg-gray-200 dark:border-gray-900 dark:bg-gray-700 absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full border border-white"
		>
		</div>
		<time class="mb-1 text-sm font-normal leading-none text-lightgreen">2018 - 2020</time>
		<h3 class="text-lg font-semibold text-lightgreen">
			Multiplatform Application Development (DAM)
		</h3>
		<span class="mb-2 block h-1 w-16 bg-lightgreen"></span>
		<p class="text-gray-500 dark:text-gray-400 text-base font-normal">
			Gained expertise in full-stack development, working with various frameworks and databases.
		</p>
	</li>

	<!-- First experience -->
	<li class="mb-10 ms-4">
		<div
			class="bg-gray-200 dark:border-gray-900 dark:bg-gray-700 absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full border border-white"
		>
		</div>
		<time class="mb-1 text-sm font-normal leading-none text-lightgreen"
			>2020 - Internship Backend Developer - 4 months</time
		>
		<h3 class="text-lg font-semibold text-lightgreen">Internship Backend Developer</h3>
		<p class="mb-4 text-base font-normal text-black dark:text-white">
			Developed a web app for digital signatures using JavaScript, Canvas API, PHP, HTML, and CSS.
		</p>
		<a href="#" class="">
			<Button size="lg" style="primary" name="Learn more">Learn more...</Button>
		</a>
	</li>

	<!-- Second experience -->
	<li class="mb-10 ms-4">
		<div
			class="bg-gray-200 dark:border-gray-900 dark:bg-gray-700 absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full border border-white"
		>
		</div>
		<time class="mb-1 text-sm font-normal leading-none text-lightgreen"
			>2024 - Software Developer - 8 months</time
		>
		<h3 class="text-lg font-semibold text-lightgreen">Software Developer</h3>
		<p class="text-gray-500 dark:text-gray-400 text-base font-normal">
			Developed a complete eCommerce solution using Spring Boot and Thymeleaf, with a modular,
			scalable, and secure architecture.
		</p>
		<a
			href="#"
			class="text-gray-900 border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-700 inline-flex items-center rounded-lg border bg-white px-4 py-2 text-sm font-medium focus:z-10 focus:outline-none focus:ring-4 dark:hover:text-white"
			>Learn more <svg
				class="ms-2 h-3 w-3 rtl:rotate-180"
				aria-hidden="true"
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 14 10"
			>
				<path
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M1 5h12m0 0L9 1m4 4L9 9"></path></svg
			></a
		>
	</li>
</ol>
