---
import { Icon } from 'astro-icon/components';
---

<div class="flex flex-row gap-4">
	<a href="https://github.com/victorbb2699" target="_blank" rel="noopener" aria-label="github"
		><Icon
			class="hover:text-lightgreen dark:hover:text-lightgreen h-8 hover:scale-110 hover:transform md:h-12"
			name="mdi:github"
			size={100}
		/></a
	>
	<a
		href="https://www.linkedin.com/in/victor-bethencourt-barrera-ba243630a/"
		target="_blank"
		rel="noopener"
		aria-label="linkedin"
		><Icon
			class="hover:text-lightgreen dark:hover:text-lightgreen h-8 hover:scale-110 hover:transform md:h-12"
			name="mdi:linkedin"
			size={100}
		/></a
	>
</div>
